<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.licoba.guanjia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.fingerprints.service.ACCESS_FINGERPRINT_MANAGER" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="com.example.licoba.guanjia.applications.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/accountb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.licoba.guanjia.activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.licoba.guanjia.activitys.RegisterActivity" />
        <activity android:name="com.example.licoba.guanjia.activitys.MainActivity" >

        </activity>
        <activity
            android:name="com.example.licoba.guanjia.activitys.AddGoodsActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name="com.example.licoba.guanjia.activitys.MoreActivity" />
        <activity android:name="com.example.licoba.guanjia.activitys.ValidateActivity" />
        <activity
            android:name="com.example.licoba.guanjia.activitys.SearchActivity"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name="com.example.licoba.guanjia.activitys.SettingPasswordActivity" />
        <activity android:name="com.example.licoba.guanjia.activitys.AddPhotoActivity" />
        <activity android:name="com.example.licoba.guanjia.activitys.ModifyPasswordActivity" />
        <activity android:name="com.example.licoba.guanjia.activitys.GuideActivity">

        </activity>
        <activity android:name="com.example.licoba.guanjia.activitys.CardActivity" />
        <activity android:name="com.example.licoba.guanjia.activitys.EditGoodsActivity" />
        <activity android:name="com.example.licoba.guanjia.activitys.CardDetailActivity" />
        <activity android:name="com.example.licoba.guanjia.activitys.RecorveyActivity" />
        <activity android:name="com.example.licoba.guanjia.base.BaseActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.licoba.guanjia.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.example.licoba.guanjia.activitys.OpenSourceActivity" />
    </application>

</manifest>